/* GENERAL */
.App {
  text-align: center;
}

link {
  color: red;
}

.bg-transp {
  background-color: rgba(255, 255, 255, 0.6);
}

.App-link {
  color: #61dafb;
}

.test {
  background-color: blueviolet;
}

.backImg{
  background-color: aquamarine
}

.divBanner{
  height: 300px;
  width: 100%;
}
.detailsBg{
  background-image: url("./images/detailsBg.jpg");
  background-size: 'cover';
  background-repeat: 'no-repeat';
  background-position: center;
}

.dashBg{
  background-image: url("./images/dashBg.jpg");
  background-size: 'cover';
  background-repeat: 'no-repeat';
  background-position: center;
}

/* LIST */
.list {
  font-size: 1.8rem;
  color: #181818
}

/* CARD */

.inner-card{
  margin-bottom: 30px;
  /* background-color: red; */
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.element-list {
  position: relative;
  top: 5%;
  /* transform: translateY(-90%); */
}

/* OTHER */


/* LAYOUT */

/* MARGIN TOP */
.mt-0{
  margin-top: 0;
}

.mt-10{ 
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{ 
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top: 30px
}

.mt-50{
  margin-top: 50px;
}

/* MARGIN ALL */
.m-all-20{
  margin: 20px;
}

/* MARGIN BOTTOM */

.mb-10{
  margin-bottom: 10px;
}

.mb-20{ 
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

/* MARGIN LEFT */
.ml-10{
  margin-left: 10px;
}

.ml-20{
  margin-left: 20px;
}

/* MARGIN RIGHT */
.mr-10{
  margin-right: 10px;
}

.mr-20{
  margin-right: 20px;
}


/* PADDINGS */
.pt-20{
  padding-top: 20px;
}

.pb-20{
  padding-bottom: 20px;
}

.pl-20{
  padding-left: 20px
}

.pr-20{
  padding-right: 20px
}