.test{
  background-color: blueviolet;
  height: 100px;
  width: 100 px;
}

/* GENERAL */
.App {
  text-align: center;
}

.mb-20{ 
  margin-bottom: 20px;
}

.mt-20{ 
  margin-top: 200px;
}

.pt-20{
  padding-top: 20px;
}

.pb-20{
  padding-bottom: 20px;
}

.bg-transp {
  background-color: rgba(255, 255, 255, 0.6);
}

/* LIST */
.list {
  font-size: 1.8rem;
  color: #181818
}

.App-link {
  color: #61dafb;
}

/* CARD */

.inner-card{
  margin-bottom: 30px;
  /* background-color: red; */
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* OTHER */