.App {
  text-align: center;
}

.bg-img{
  background-image: url("./images/food.jpg");
  background-size: cover;
  background-color: aquamarine
}

.App-link {
  color: #61dafb;
}

.mb-20{ 
  margin-bottom: 20px;
}

.pt-20{
  padding-top: 20px;
}


.inner-card{
  margin-bottom: 30px;
  /* background-color: red; */
}